<h1>Search for a student</h1>
<p>Searched student first name:<%=data[0].first_name%> </p>
<p>Searched student last_name:<%=data[0].last_name%> </p>
<p>Searched student email:<%=data[0].email%> </p>
<p>Searched student student_id:<%=data[0].student_id%></p>
